<mat-card>
    <mat-card-title>Adicionar Novo Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="ISBN" 
                [(ngModel)]="product.isbn" name="isbn">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Título"
                [(ngModel)]="product.title" name="title">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Autor"
                [(ngModel)]="product.author" name="author">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço R$"
                [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button class="buttonAdd" mat-raised-button (click)="createProduct()">
        Salvar
    </button>
    <button mat-raised-button (click)="cancelProduct()">
        Cancelar
    </button>
</mat-card>

