        <mat-nav-list class="sidenav" opened fixedInViewport="true">
            <a routerLink="/">
                <i class="material-icons">
                    menu_book
                </i>
                Início
            </a>
            <a routerLink="/books">
                <i class="material-icons">
                    menu_book
                </i>
                Cadastro
            </a>
        </mat-nav-list>
        <div class="home">
            <router-outlet></router-outlet>
        </div>
    

